<!DOCTYPE html>
<html>
  <head>
    <title>Video Comments - {{ video_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>{{ video_name }}</h1>
      {% if comments %}
        <ul>
          {% for comment in comments %}
    <div class="comment">
        <p><strong>{{ comment.username }}</strong> said:</p>
        <p>{{ comment.comment }}</p>
        <a class="text-secondary" href="{{ url_for('delete_comment', comment_id=comment.id) }}">Delete</a>
    </div>
{% endfor %}
        </ul>
      {% else %}
        <p>No comments yet.</p>
      {% endif %}
      <hr>
      <form action="{{ url_for('submit_comment') }}" method="POST">
        <input type="hidden" name="video_id" value="{{ video_id }}">
        <div class="form-group">
          <label for="comment_username">Username:</label>
          <input type="text" class="form-control" name="comment_username" required>
        </div>
        <div class="form-group">
          <label for="comment_text">Comment:</label>
          <textarea class="form-control" name="comment_text" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>s